/* InputForm.css */

.form-container {
    max-width: 100rem;
    width: 100vw;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.label {
    text-align: left;
    display: block;
    margin-bottom: 0.25rem;
    margin-left: 0.1rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}